/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $light-blue;
	color: white;
	font-weight: 900;
	padding: 8px;
	border-radius: 4px;
	transition: 0.5s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
	margin: 0px 2px;
}

button:hover {
	background-color: $dark-blue;
	border-color: $darkest-blue;
}

a:hover {
	text-decoration: underline;
}
/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

.hidden {
	display: none;
}
