<div class="masthead">

  <div class="language-nav">
    <ul class="language-nav-links">
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt=""></img>
  </div>

  <div class="">
    <ul class="masthead-links">
      <li><time>Tuesday, October 18, 2016</time></li>
      <li><a href="#"><i class="fa fa-newspaper"></i>Today’s Paper</a></li>
      <li><a href="#"><i class="fa fa-video"></i>Video</a></li>
      <li><button type="button" name="button">77°F</button></li>
      <li><button type="button" name="button">AAO +100%</button></li>
    </ul>
  </div>

</div>
