// Use the gear_dropdown.png screenshot as a style guide

#gear-dropdown-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

#gear-dropdown ul {
  position: relative;
  top: 75px;
  right: 218px;
}
