.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav > ul > li {
    padding: 9px 2px;
    font-weight: 900;
    border-radius: 4px;
    transition: 0.5s;
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    margin: 6px 9px 13px 15px;
}

.left-nav > ul > li > i {
  padding-left: 9px;
}

.right-nav > ul > li {
    padding: 9px 2px;
}

.right-nav > ul > li:last-of-type {
  margin-right: 3px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background: $lightest-gray;
  border-radius: 3px;
}

.left-nav span {
  background: inherit;
  padding: 8px;
  margin-left: 2px;
}


.right-nav i {
  padding: 1px 5px;
  margin-left: 2px;
  background: inherit;
  font-size: 14px;
}
